body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #202442, #050713, #000000);
}

#sky {
    position: absolute;
    top: 0;
    left: 0;
}

#navbar {
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 20, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6ea8ff;
    font-size: 28px;
    font-weight: bold;
}

#logo {
    padding-left: 20px;
}

#nav-buttons button {
    margin-right: 10px;
}

.nav-btn {
    background: #1c2335;
    border: 1px solid #2d3d5c;
    padding: 8px 15px;
    border-radius: 10px;
    color: #c6d5ff;
    cursor: pointer;
    transition: .2s;
}

.nav-btn:hover {
    background: #30405c;
}

#sidebar {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 260px;
    padding: 20px;
    background: rgba(10, 10, 20, 0.85);
    border-radius: 20px;
    color: white;
}

.info-box {
    margin-top: 20px;
    padding: 15px;
    background: rgba(50, 50, 60, 0.4);
    border-radius: 15px;
}

#infoPanel {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 260px;
    padding: 20px;
    background: rgba(10, 10, 20, 0.85);
    border-radius: 20px;
    color: #8bbaff;
    font-weight: bold;
}
